In [1]:
print(2+2)

4

In [3]:
 a=100

In [6]:
age = 25
print(age)

25

In [11]:
Name = "Shubby"
height = 5.9

print("My name is", Name, "and my height is", height)

My name is Shubby and my height is 5.9

In [13]:
name = "Krish Shah"

In [16]:
print("Hello, my name is", name)

Hello, my name is Krish Shah

In [20]:
Variabe_1 = int(input("Enter a number: "))
Variabe_2 = int(input("Enter the second number: "))


sum = Variabe_1 + Variabe_2
product = Variabe_1 * Variabe_2
quotient = Variabe_1 / Variabe_2
difference = Variabe_1 - Variabe_2

print("Sum:", sum)
print("Product:", product)
print("Quotient:", quotient)
print("Difference:", difference)\

print("You entered:", Variabe)

Sum: 5
Product: 6
Quotient: 0.6666666666666666
Difference: -1
You entered: 23

In [21]:
suhhy = bool()

In [ ]:
print(suhhy)

False

In [23]:
a = 10
b = 3.5
result = a * b
print("The result of multiplying", a, "and", b, "is:", result)

The result of multiplying 10 and 3.5 is: 35.0

In [25]:
print(a//b)

2.0

Logical Operators

In [2]:
subby = 200
Lade = 45 
if subby < Lade:
    print("Subby is less than Lade")
else:
    for i in range(1, Lade + 1):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

Logical Operators

In [4]:
X = True 
Y = False
reuls = X or Y
print(reuls)

True

In [10]:
X = True 
Y = True
reuls = X and Y
print(reuls)

True

Conditional Statements

In [2]:
## if statements

age = 20 

if age  >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [5]:
age = 30

In [7]:
age = 19 

if age <13:
    print("You are a child.")

elif age < 20:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are a teenager.

In [11]:
#Nested Conditional Statements

Num = int(input("Enter a number: "))


            
if Num > 0:
    print ("The number is positive.")
    if Num % 2 == 0:
        print ("The number is even.")
    else:
        print ("The number is odd.")
else :
    print ("The number is zero or negative.")

The number is zero or negative.

In [14]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if  year % 400 ==0:
            print(f"{year} is a leap year.")
        else:
            print(f"{year} is not a leap year.")
    else:
        print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

30 is not a leap year.

In [ ]:
Number_1, Number_2 = int(input("Enter first number: ")), int(input("Enter second number: "))
Operattion = input("Enter operation (+, -, *, /): ")

if Operattion == '+':
    result = Number_1 + Number_2
elif Operattion == '-':
    result = Number_1 - Number_2
elif Operattion == '*':
    result = Number_1 * Number_2
elif Operattion == '/':
    if Number_2 != 0:
        result = Number_1 / Number_2
    else:
        result = "Error: Division by zero is not allowed."
else:
    result = "Error: Invalid operation."

print(f"The result of {Number_1} {Operattion} {Number_2} is {result}")

The result of 20 * 30 is: 600