In [1]:
print(2+2)

4

In [3]:
 a=100

In [6]:
age = 25
print(age)

25

In [11]:
Name = "Shubby"
height = 5.9

print("My name is", Name, "and my height is", height)

My name is Shubby and my height is 5.9

In [13]:
name = "Krish Shah"

In [16]:
print("Hello, my name is", name)

Hello, my name is Krish Shah

In [20]:
Variabe_1 = int(input("Enter a number: "))
Variabe_2 = int(input("Enter the second number: "))


sum = Variabe_1 + Variabe_2
product = Variabe_1 * Variabe_2
quotient = Variabe_1 / Variabe_2
difference = Variabe_1 - Variabe_2

print("Sum:", sum)
print("Product:", product)
print("Quotient:", quotient)
print("Difference:", difference)\

print("You entered:", Variabe)

Sum: 5
Product: 6
Quotient: 0.6666666666666666
Difference: -1
You entered: 23

In [21]:
suhhy = bool()

In [ ]:
print(suhhy)

False

In [23]:
a = 10
b = 3.5
result = a * b
print("The result of multiplying", a, "and", b, "is:", result)

The result of multiplying 10 and 3.5 is: 35.0

In [25]:
print(a//b)

2.0

Logical Operators

In [2]:
subby = 200
Lade = 45 
if subby < Lade:
    print("Subby is less than Lade")
else:
    for i in range(1, Lade + 1):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

Logical Operators

In [4]:
X = True 
Y = False
reuls = X or Y
print(reuls)

True

In [10]:
X = True 
Y = True
reuls = X and Y
print(reuls)

True

Conditional Statements

In [2]:
## if statements

age = 20 

if age  >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [5]:
age = 30

In [7]:
age = 19 

if age <13:
    print("You are a child.")

elif age < 20:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are a teenager.

In [11]:
#Nested Conditional Statements

Num = int(input("Enter a number: "))


            
if Num > 0:
    print ("The number is positive.")
    if Num % 2 == 0:
        print ("The number is even.")
    else:
        print ("The number is odd.")
else :
    print ("The number is zero or negative.")

The number is zero or negative.

In [14]:
year = int(input("Enter a year: "))

if year % 4 == 0:
    if year % 100 == 0:
        if  year % 400 ==0:
            print(f"{year} is a leap year.")
        else:
            print(f"{year} is not a leap year.")
    else:
        print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

30 is not a leap year.

In [18]:
Number_1, Number_2 = int(input("Enter first number: ")), int(input("Enter second number: "))
Operattion = input("Enter operation (+, -, *, /): ")

if Operattion == '+':
    result = Number_1 + Number_2
elif Operattion == '-':
    result = Number_1 - Number_2
elif Operattion == '*':
    result = Number_1 * Number_2
elif Operattion == '/':
    if Number_2 != 0:
        result = Number_1 / Number_2
    else:
        result = "Error: Division by zero is not allowed."
else:
    result = "Error: Invalid operation."

print(f"The result of {Number_1} {Operattion} {Number_2} is {result}")

The result of 33 + 45 is 78

Loops

In [20]:
## For Loops 
import math
import random
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(1,10, 4):
    print(i)

1
5
9

In [22]:
String = "Olasubomi Bakare Abdulateef"
for i in String:
    print(i)

O
l
a
s
u
b
o
m
i

B
a
k
a
r
e

A
b
d
u
l
a
t
e
e
f

In [25]:
# while loops

count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [28]:
# Loop Control Statements
for i in range(10):
    if i == 5:
        break 
    print(i+1)

1
2
3
4
5

In [29]:
for i in range(10):
    if i % 2 == 0:
        continue 
    print (i)

1
3
5
7
9

In [31]:
for i in range(10):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
#Nested Loops
for i in range(3):
    for j in range(5):
        print(f"i: {i}, and j: {j}")

i: 0, and j: 0
i: 0, and j: 1
i: 0, and j: 2
i: 0, and j: 3
i: 0, and j: 4
i: 1, and j: 0
i: 1, and j: 1
i: 1, and j: 2
i: 1, and j: 3
i: 1, and j: 4
i: 2, and j: 0
i: 2, and j: 1
i: 2, and j: 2
i: 2, and j: 3
i: 2, and j: 4

In [39]:
sum = 0
count = 1
Num = int(input("Enter a number: "))
while count <= Num:
    sum = sum + count
    count += 1
print(f"The sum of first {Num} natural numbers is: {sum}")

The sum of first 100 natural numbers is: 5050

In [41]:
num = int(input("Enter the number"))
sum = 0
for i in range(num+1):
    sum += i
print(f"The sum of first {num} natural numbers is: {sum}")

The sum of first 100 natural numbers is: 5050

In [53]:
New = int(input("Enter a number: "))
for i in range(1,New+1):
    if i >1 :
        for j in range(2,i):
            if i % j == 0:
                print(f"{i} is not a prime number.")
                break
        else:
            print(f"{i} is a prime number.")

2 is a prime number.
3 is a prime number.
4 is not a prime number.
5 is a prime number.
6 is not a prime number.
7 is a prime number.
8 is not a prime number.
9 is not a prime number.
10 is not a prime number.
11 is a prime number.
12 is not a prime number.
13 is a prime number.
14 is not a prime number.
15 is not a prime number.
16 is not a prime number.
17 is a prime number.
18 is not a prime number.
19 is a prime number.
20 is not a prime number.
21 is not a prime number.
22 is not a prime number.
23 is a prime number.
24 is not a prime number.
25 is not a prime number.
26 is not a prime number.
27 is not a prime number.
28 is not a prime number.
29 is a prime number.
30 is not a prime number.
31 is a prime number.
32 is not a prime number.
33 is not a prime number.
34 is not a prime number.
35 is not a prime number.
36 is not a prime number.
37 is a prime number.
38 is not a prime number.
39 is not a prime number.
40 is not a prime number.
41 is a prime number.
42 is not a prime number.
43 is a prime number.
44 is not a prime number.
45 is not a prime number.
46 is not a prime number.
47 is a prime number.
48 is not a prime number.
49 is not a prime number.
50 is not a prime number.
51 is not a prime number.
52 is not a prime number.
53 is a prime number.
54 is not a prime number.
55 is not a prime number.
56 is not a prime number.
57 is not a prime number.
58 is not a prime number.
59 is a prime number.
60 is not a prime number.
61 is a prime number.
62 is not a prime number.
63 is not a prime number.
64 is not a prime number.
65 is not a prime number.
66 is not a prime number.
67 is a prime number.
68 is not a prime number.
69 is not a prime number.
70 is not a prime number.
71 is a prime number.
72 is not a prime number.
73 is a prime number.
74 is not a prime number.
75 is not a prime number.
76 is not a prime number.
77 is not a prime number.
78 is not a prime number.
79 is a prime number.
80 is not a prime number.
81 is not a prime number.
82 is not a prime number.
83 is a prime number.
84 is not a prime number.
85 is not a prime number.
86 is not a prime number.
87 is not a prime number.
88 is not a prime number.
89 is a prime number.
90 is not a prime number.
91 is not a prime number.
92 is not a prime number.
93 is not a prime number.
94 is not a prime number.
95 is not a prime number.
96 is not a prime number.
97 is a prime number.
98 is not a prime number.
99 is not a prime number.
100 is not a prime number.